// main: style.less
//
// Variables
// --------------------------------------------------

@nav-background-color:           #f6f6f6;
@brand-primary-color:            #70b300;
@brand-secondary-color:          #ff4e00;
@base-grey-color:                #999;
@base-dark-grey-color:           #404040;
@base-border-color:              rgba(92, 96, 107, 0.2);



@base-font:           'Open Sans', sans-serif;
@light:               300;
@normal:              400;
@semibold:            600;
@bold:                700;